<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.toadette.poc.rtbm"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="de.toadette.poc.rtbm.presentation.RtbmApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:supportsRtl="true">
        <activity android:name="de.toadette.poc.rtbm.presentation.MainActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="www.avalax.de"
                    android:pathPrefix="/Rtbm" />
                <data android:scheme="avalax"
                    android:host="rtbm" />

            </intent-filter>
        </activity>
        <activity android:name=".presentation.MapActivity"/>
        <activity android:name=".presentation.AddItemActivity"/>
        <activity android:name=".presentation.ShowItemActivity"/>
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />
    </application>

</manifest>